# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
logs/
standalone_admin_password.txt

# Data files
*.csv
*.parquet
*.xlsx
data/

# Models
*.cbm
*.pkl
*.joblib

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
